
.float{
  background-image: var(--foam);
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  position: sticky;
  top: 50;
  width: 100%;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  padding: 10px;
  float: right;
  align-self: center;
  flex-wrap: nowrap;
}

.searchBox {
  border-radius: 5px;
  font-size: 20px;
}

.searchButton {
  border-radius: 5px;
  font-size: 20px;
  background-color: goldenrod;
}

@media screen and (max-width: 1000px) {
  .text-focus-in {
    display: none;
  }
  .topnav {
    flex-direction: column;
  }
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.5s
    both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.5s both;
}

.card {
  display: flex;
  flex-direction: row;
  background: rgb(224, 220, 217);
  background: linear-gradient(
    180deg,
    rgb(224, 220, 217) 0%,
    rgb(224, 220, 217) 75%,
    rgba(255, 255, 255, 0.09037118265274857) 100%
  );
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 40px;
  width: 200px;
  box-shadow: 2px 2px 4px #000000;
}
#pageContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(218, 165, 32, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(78, 78, 78);
  border-radius: 20px;
}
.content {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.name {
  font-weight: bolder;
  margin-bottom: 5px;
}
.description {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating {
  font-weight: bold;
  padding: 5px;
  color: rgb(173, 125, 1);
}

.slit-in-vertical {
  -webkit-animation: slit-in-vertical 0.45s ease-out both;
  animation: slit-in-vertical 0.45s ease-out both;
}

@-webkit-keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}
@keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}
