@import "compass/css3";
.bubbleContainer{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(207, 139, 13);
    z-index: -101;
}
body {
  margin: 0;
  font-size: 100%;
}

.navTitle {
  display: flex;
  align-items: center;
}
.navText {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  font-size: 36px;
}

.topnav {
  background-color: rgb(224, 220, 217);
  overflow: hidden;
  position: fixed; 
  top: 0; 
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: goldenrod;
}

.topnav a.active {
  background-color: goldenrod;
  color: rgb(126, 126, 126);
}

.topnav .icon {
  display: none;
}

.searchContainer {
    padding: 10px;
  float: right;
  align-self: center;
}
.searchBox {
  border-radius: 5px;
  font-size: 20px;
}

.searchButton {
  border-radius: 5px;
  font-size: 20px;
  background-color: goldenrod;
}

.navImage {
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.bubble {
  width: 60px;
  height: 60px;
  background: #ffb200;
  border-radius:50%;
  z-index: -100;
  position: absolute;
}

.x1 {
  opacity: 0.2;
  -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -o-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
  left: 20vw;
  opacity: 0.5;
  -webkit-animation: moveclouds 14s linear infinite, sideWays 5s ease-in-out infinite alternate;
  -moz-animation: moveclouds 14s linear infinite, sideWays 5s ease-in-out infinite alternate;
  -o-animation: moveclouds 14s linear infinite, sideWays 5s ease-in-out infinite alternate;
  animation: moveclouds 14s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x3 {
  left: 30vw;
  opacity: 0.3;
  -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -o-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x4 {
    left: 35vw;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.35;
    -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.x5 {
    left: 40vw;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3; 
    -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}

.x6 {
    left: 50vw;
    opacity: 0.2;
    -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
  }
  
  .x7 {
    left: 57vw;
    opacity: 0.5;
    -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
  }
  .x8 {
    left: 69vw;
    opacity: 0.3;
    -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  }
  .x9 {
      left: 76vw;
      -webkit-transform: scale(0.75);
      -moz-transform: scale(0.75);
      transform: scale(0.75);
      opacity: 0.35;
      -webkit-animation: moveclouds 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
      -moz-animation: moveclouds 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
      -o-animation: moveclouds 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
  }
  .x10 {
      left: 90vw;
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      transform: scale(0.8);
      opacity: 0.3; 
      -webkit-animation: moveclouds 10s linear infinite, sideWays 1s ease-in-out infinite alternate;
      -moz-animation: moveclouds 10s linear infinite, sideWays 1s ease-in-out infinite alternate;
      -o-animation: moveclouds 10s linear infinite, sideWays 1s ease-in-out infinite alternate;
  }
@-webkit-keyframes moveclouds { 
    0% { 
        top: 90vh;
    }
    100% { 
        top: 0vh;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:60px;
    }
}


